# .env.secret.template - шаблон секретов
# Скопируйте этот файл в .env.secret и заполните реальными значениями
# Никогда не коммитьте .env.secret в Git!

# База данных
DB_USER=postgres
DB_PASSWORD=your_secure_password_here
DB_DATABASE=smartmeeting

# Django
DJANGO_SECRET_KEY=your_django_secret_key_here
EMAIL_HOST_USER=your email host user
EMAIL_HOST_PASSWORD=your email host password
